@import "./variables";

@mixin flexDisplay($position) {
  display: flex;
  justify-content: $position;
  align-items: center;
}
@mixin container($width) {
  width: $width;
  margin: auto;
}
@mixin position($position,$top) {
  position: relative;
  top:$top;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

// my styless start from here
.header{
  @include flexDisplay(space-between);
  margin-bottom: 20px;
}

.navBar{
  @include flexDisplay(space-between);
  
}

.navBack{
  background-color: $navBackgroundColor;
}
.footer, .home-footer{
  text-align: center;
  background-color: $footerBackground;
  color: white;
  font-weight: normal;
  font-size: 10px;
  height: 100%;
  padding-top: 0.5px;
}
.home-footer{
  font-size: 22px;
  height: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.signin-header, .or-container{
  @include flexDisplay(center);
}

.link{
  text-align: "end";
  text-decoration: underline;
  color: #2b47b5; 
}

.or-container{
  margin-top: 20px;
}
.signin-container{
  // position: relative;
  // top: 80px;
  margin-top: 2000px;
}
.styled-container,.signin-container{
  // position: relative;
  // top: 80px;
  @include position(relative,80px);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19)
}
.styled-container{
  border-radius: 8px;  

}
 .form-container{
   margin: auto;
   width: 90%;
   margin-bottom: 20px;
 }
.button-login , .password {
  font-size:15px;
}
// .forgot-password {
//   font-size: 15px;
// }
.left-page{
  // background-color: #EEEEEE;
  position: relative;
}

.covid-pic{
  position: absolute;
  width: 98%;
  height: 94%;
}
.result{
  // position: relative;
  // top: 90px;
  @include position(relative,90px);
}
.container{
  @include container(65%);
}
.footer-container{
  @include container(75%);
}
.rest-container{
  @include flexDisplay(center);
  width: 80%;
  margin: auto;

}

.country{
  line-height: 1.0;
}
.flag-container{
  // position: relative;
  // top:4px;
  // @include position(relative,4px);
  max-width: 60%;
  max-height: 23px;
  margin-right: 6px;
}
.country-container{
  @extend .or-container;
}
.card{
  min-height: 50%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.card-content{
  text-align: center;
}

.search{
  position: relative;
  right: 2px;
  margin-left: 30px;
}

.toggle-button{
  color: $toggleBtnColor;
}

// for leaflet to appear on full page

.leaflet-container {
  width: 100%;
  height: 54vh;
}

// my styles ends here

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
